body {
    background-color: lightgray;
}
.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.container > .row > .col > img {
    margin: 10px 20px; 
}
